Importamos las Librerias

In [395]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Cargamos los datos

In [396]:
H_H = pd.read_excel('Data/homicidios.xlsx', sheet_name='HECHOS')
H_V = pd.read_excel('Data/homicidios.xlsx', sheet_name='VICTIMAS')

Checkeamos el primer DF

In [397]:
H_H

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,2021,12,13,17:10:00,17,AV. RIESTRA Y MOM,AVENIDA,...,NaN,MOM,RIESTRA AV. y MOM,7,Point (102728.60090138 98186.24929177),-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO
692,2021-0094,1,2021-12-20,2021,12,20,01:10:00,1,AU DELLEPIANE Y LACARRA,AUTOPISTA,...,NaN,LACARRA AV.,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9,Point (99624.29795829 97569.69801131),-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO
693,2021-0095,1,2021-12-30,2021,12,30,00:43:00,0,AV. GAONA Y TERRADA,AVENIDA,...,NaN,TERRADA,GAONA AV. y TERRADA,11,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS
694,2021-0096,1,2021-12-15,2021,12,15,10:30:00,10,AV. EVA PERON 4071,AVENIDA,...,4071.0,NaN,"PERON, EVA AV. 4071",9,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS
695,2021-0097,1,2021-11-18,2021,11,18,06:10:00,6,PADRE CARLOS MUJICA 709,CALLE,...,709.0,NaN,PADRE CARLOS MUGICA 709,1,Point (107664.16647795 104708.63962087),-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO

Revisamos la informacion del DF

In [398]:
H_H.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

Cambiamos los valores SD a NaN

In [399]:
H_H.replace(['SD','sd'], np.nan, inplace=True)

In [400]:
H_H

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4.0,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1.0,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7.0,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0.0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,NaN
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5.0,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,2021,12,13,17:10:00,17.0,AV. RIESTRA Y MOM,AVENIDA,...,NaN,MOM,RIESTRA AV. y MOM,7,Point (102728.60090138 98186.24929177),-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO
692,2021-0094,1,2021-12-20,2021,12,20,01:10:00,1.0,AU DELLEPIANE Y LACARRA,AUTOPISTA,...,NaN,LACARRA AV.,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9,Point (99624.29795829 97569.69801131),-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO
693,2021-0095,1,2021-12-30,2021,12,30,00:43:00,0.0,AV. GAONA Y TERRADA,AVENIDA,...,NaN,TERRADA,GAONA AV. y TERRADA,11,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS
694,2021-0096,1,2021-12-15,2021,12,15,10:30:00,10.0,AV. EVA PERON 4071,AVENIDA,...,4071.0,NaN,"PERON, EVA AV. 4071",9,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS
695,2021-0097,1,2021-11-18,2021,11,18,06:10:00,6.0,PADRE CARLOS MUJICA 709,CALLE,...,709.0,NaN,PADRE CARLOS MUGICA 709,1,Point (107664.16647795 104708.63962087),-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO

Eliminamos las columnas que no vamos a utilizar

In [401]:
H_H = H_H.drop(['HH', 'Altura', 'Cruce', 'XY (CABA)', 'PARTICIPANTES', 'Dirección Normalizada', 'Calle'], axis=1)

In [402]:
H_H

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,LUGAR_DEL_HECHO,TIPO_DE_CALLE,COMUNA,pos x,pos y,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,8,-58.47533969,-34.68757022,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,9,-58.50877521,-34.66977709,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,AV ENTRE RIOS 2034,AVENIDA,1,-58.39040293,-34.63189362,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,8,-58.46503904,-34.68092974,MOTO,NaN
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,1,-58.38718297,-34.62246630,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,2021,12,13,17:10:00,AV. RIESTRA Y MOM,AVENIDA,7,-58.43353773,-34.64561636,MOTO,AUTO
692,2021-0094,1,2021-12-20,2021,12,20,01:10:00,AU DELLEPIANE Y LACARRA,AUTOPISTA,9,-58.46739825,-34.65117757,MOTO,AUTO
693,2021-0095,1,2021-12-30,2021,12,30,00:43:00,AV. GAONA Y TERRADA,AVENIDA,11,-58.47293407,-34.61984745,MOTO,CARGAS
694,2021-0096,1,2021-12-15,2021,12,15,10:30:00,AV. EVA PERON 4071,AVENIDA,9,-58.47066794,-34.65021673,AUTO,CARGAS
695,2021-0097,1,2021-11-18,2021,11,18,06:10:00,PADRE CARLOS MUJICA 709,CALLE,1,-58.37976155,-34.58679619,BICICLETA,AUTO

Verificamos los Faltantes

In [403]:
filas_con_valores_faltantes = H_H[H_H.isnull().any(axis=1)]

In [404]:
filas_con_valores_faltantes

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,LUGAR_DEL_HECHO,TIPO_DE_CALLE,COMUNA,pos x,pos y,VICTIMA,ACUSADO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,8,-58.46503904,-34.68092974,MOTO,NaN
32,2016-0045,1,2016-04-11,2016,4,11,10:25:00,AV GRAL PAZ Y AV DEL LIBERTADOR,GRAL PAZ,13,-58.46743471,-34.53476874,MOTO,NaN
35,2016-0049,1,2016-04-17,2016,4,17,00:00:00,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI KM....,AUTOPISTA,4,-58.37714647568196,-34.63657525428238,NaN,NaN
38,2016-0052,1,2016-04-20,2016,4,20,20:00:00,AUTOPISTA LUGONES PK 10000,AUTOPISTA,13,.,.,MOTO,NaN
57,2016-0080,1,2016-06-18,2016,6,18,06:42:00,AV GRAL PAZ Y AV RIVADAVIA,GRAL PAZ,9,-58.52927982,-34.63931752,AUTO,NaN
76,2016-0101,1,2016-08-07,2016,8,7,19:42:00,AV GRAL PAZ Y JORGE CHAVEZ,GRAL PAZ,9,-58.52932872,-34.65014993,NaN,NaN
83,2016-0110,1,2016-08-24,2016,8,24,20:21:00,AV ALBERDI Y CARHUE,AVENIDA,9,-58.51232237,-34.65903530,PEATON,NaN
88,2016-0115,1,2016-09-02,2016,9,2,11:50:00,ARIAS Y TRONADOR,CALLE,12,-58.48935041,-34.54917673,NaN,CARGAS
92,2016-0119,1,2016-09-04,2016,9,4,06:40:00,CRISOLOGO LARRALDE Y AVDA TRIUNVIRATO,AVENIDA,12,-58.49659234,-34.56353635,NaN,NaN
105,2016-0135,1,2016-10-24,2016,10,24,05:00:00,AV FIGUEROA ALCORTA Y PINEDO,AVENIDA,14,-58.42260225,-34.56403694,PEATON,NaN
112,2016-0143,1,2016-11-06,2016,11,6,04:41:00,AV 27 DE FEBRERO Y AV ESCALADA,AVENIDA,8,-58.44451316,-34.68475866,MOTO,NaN
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,NaN,CALLE,0,.,.,PEATON,NaN
126,2016-0159,1,2016-12-04,2016,12,4,07:21:00,AV 27 DE FEBRERO Y AV ESCALADA,AVENIDA,8,-58.44451316,-34.68475866,AUTO,NaN
139,2016-0174,1,2016-12-27,2016,12,27,00:00:00,AUTOPISTA 25 DE MAYO,AUTOPISTA,0,.,.,NaN,NaN
160,2017-0025,1,2017-02-24,2017,2,24,17:05:00,AV. FERNANDEZ DE LA CRUZ Y RIVERA INDARTE,AVENIDA,7,-58.43614426,-34.65424640,MOTO,NaN
164,2017-0029,1,2017-03-07,2017,3,7,02:15:00,MOZART Y TANDIL,CALLE,9,-58.48501341,-34.64742455,NaN,AUTO
197,2017-0069,1,2017-05-24,2017,5,24,14:15:00,AV. GRAL. PAZ Y ULRICO SCHMIDL,GRAL PAZ,9,-58.52173071,-34.65997463,MOTO,NaN
201,2017-0074,1,2017-06-04,2017,6,4,12:50:00,CASCO 133,CALLE,9,-58.52567073,-34.63787791,NaN,NaN
214,2017-0089,1,2017-07-13,2017,7,13,12:05:00,MARTINIANO LEGUIZAMON 901,CALLE,9,-58.51514709,-34.64787051,NaN,AUTO
216,2017-0091,1,2017-07-15,2017,7,15,13:00:00,SUPERI Y AV. GRAL. PAZ,GRAL PAZ,12,-58.48671535,-34.54321216,MOTO,NaN
269,2017-0155,1,2017-12-12,2017,12,12,21:25:41,AV. RIVADAVIA 6350,AVENIDA,7,-58.45593915,-34.62656868,NaN,MOTO
393,2018-0119,1,2018-11-05,2018,11,5,22:35:00,Rabanal y San Pedrito,AVENIDA,8,-58.43613623,-34.66292532,PEATON,NaN
397,2018-0123,1,2018-11-12,2018,11,12,03:32:00,"Paz, Gral. Av. y Peron, Eva Av.",GRAL PAZ,9,-58.50251790,-34.67450313,AUTO,NaN
439,2019-0022,1,2019-03-15,2019,3,15,1900-01-02 00:00:00,ENTRE RIOS AV. BAJO PUENTE AUTOPISTA (1260 APROX),AVENIDA,1,-58.39123782,-34.62352245,AUTO,NaN
450,2019-0033,1,2019-04-18,2019,4,18,01:00:00,"AUTOPISTA 25 DE MAYO Y HUERGO, ING. AV.",AUTOPISTA,1,-58.36607137,-34.62150748,MOTO,NaN
457,2019-0040,1,2019-05-09,2019,5,9,12:45:00,PUAN Y SANTANDER,CALLE,7,-58.44263580,-34.63679732,MOTO,NaN
518,2019-0103,1,2019-12-18,2019,12,18,NaN,"PAZ, GRAL. AV. Y GRIVEO",GRAL PAZ,11,-58.52169422,-34.59471640,MOTO,MOTO
620,2021-0022,1,2021-02-28,2021,2,28,12:00:00,DEL LIBERTADOR AV. Y ROOSEVELT FRANKLIN D.,AVENIDA,13,-58.45157681,-34.55217303,PASAJEROS,NaN

Remplazamos los NaN de ACUSADO Y VICTIMA a sin valores

In [405]:
H_H['ACUSADO'] = H_H['ACUSADO'].fillna("")
H_H['VICTIMA'] = H_H['VICTIMA'].fillna("")

In [406]:
filas_con_valores_faltantes = H_H[H_H.isnull().any(axis=1)]
filas_con_valores_faltantes

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,LUGAR_DEL_HECHO,TIPO_DE_CALLE,COMUNA,pos x,pos y,VICTIMA,ACUSADO
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,NaN,CALLE,0,.,.,PEATON,
518,2019-0103,1,2019-12-18,2019,12,18,NaN,"PAZ, GRAL. AV. Y GRIVEO",GRAL PAZ,11,-58.52169422,-34.59471640,MOTO,MOTO

Eliminamos la fila con el ID '2016-0151' por falta excesiva de datos

In [407]:
H_H = H_H[H_H['ID'] != '2016-0151']

In [408]:
filas_con_valores_faltantes = H_H[H_H.isnull().any(axis=1)]
filas_con_valores_faltantes

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,LUGAR_DEL_HECHO,TIPO_DE_CALLE,COMUNA,pos x,pos y,VICTIMA,ACUSADO
518,2019-0103,1,2019-12-18,2019,12,18,NaN,"PAZ, GRAL. AV. Y GRIVEO",GRAL PAZ,11,-58.52169422,-34.59471640,MOTO,MOTO

In [409]:
H_H.loc[:, 'HORA'] = H_H.loc[:, 'HORA'].fillna("")

In [410]:
filas_con_valores_faltantes = H_H[H_H.isnull().any(axis=1)]
filas_con_valores_faltantes

Empty DataFrame
Columns: [ID, N_VICTIMAS, FECHA, AAAA, MM, DD, HORA, LUGAR_DEL_HECHO, TIPO_DE_CALLE, COMUNA, pos x, pos y, VICTIMA, ACUSADO]
Index: []

In [411]:
H_H.loc[:, 'pos x'] = H_H.loc[:, 'pos x'].replace('.', np.nan)
H_H.loc[:, 'pos y'] = H_H.loc[:, 'pos y'].replace('.', np.nan)

In [412]:
filas_con_valores_faltantes = H_H[H_H.isnull().any(axis=1)]
filas_con_valores_faltantes

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,LUGAR_DEL_HECHO,TIPO_DE_CALLE,COMUNA,pos x,pos y,VICTIMA,ACUSADO
38,2016-0052,1,2016-04-20,2016,4,20,20:00:00,AUTOPISTA LUGONES PK 10000,AUTOPISTA,13,NaN,NaN,MOTO,
106,2016-0136,1,2016-10-25,2016,10,25,00:00:00,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA,4,NaN,NaN,MOTO,CARGAS
139,2016-0174,1,2016-12-27,2016,12,27,00:00:00,AUTOPISTA 25 DE MAYO,AUTOPISTA,0,NaN,NaN,,
176,2017-0042,1,2017-04-10,2017,4,10,09:00:00,AV. LEOPOLDO LUGONES PKM 6900,GRAL PAZ,14,NaN,NaN,MOTO,CARGAS
180,2017-0050,2,2017-04-28,2017,4,28,11:08:08,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA,9,NaN,NaN,MOTO,CARGAS
181,2017-0051,1,2017-05-01,2017,5,1,03:47:47,AU DELLEPIANE 2400,AUTOPISTA,7,NaN,NaN,AUTO,AUTO
256,2017-0140,1,2017-11-19,2017,11,19,23:22:17,AU ARTURO FRONDIZI PKM 3100,AUTOPISTA,4,NaN,NaN,MOTO,PASAJEROS
313,2018-0039,1,2018-04-21,2018,4,21,22:15:00,AUTOPISTA LUGONES KM 4.7,AUTOPISTA,14,NaN,NaN,PEATON,AUTO
546,2020-0026,1,2020-05-17,2020,5,17,06:40:00,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA,14,NaN,NaN,MOTO,OBJETO FIJO
559,2020-0039,1,2020-09-01,2020,9,1,19:17:42,MURGUIONDO 2700,CALLE,9,NaN,NaN,PEATON,CARGAS
621,2021-0023,1,2021-03-01,2021,3,1,09:20:00,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA,4,NaN,NaN,MOTO,CARGAS

Vamos a remplazar la longitud y latitud de los faltantes, con la busqueda de las mismas tomando como referencia la columna 'LUGAR_DEL_HECHO' en google maps

In [413]:
# ID 2016-0052 agregamos coordenadas
H_H.loc[H_H['ID'] == '2016-0052', 'pos x'] = -34.54233281
H_H.loc[H_H['ID'] == '2016-0052', 'pos y'] = -58.44974319
# ID 2016-0136 agregamos coordenadas
H_H.loc[H_H['ID'] == '2016-0136', 'pos x'] = -34.76208169
H_H.loc[H_H['ID'] == '2016-0136', 'pos y'] = -58.17886722
# ID 2016-0174 agregamos coordenadas y le agregamos una comuna
H_H.loc[H_H['ID'] == '2016-0174', 'pos x'] = -34.62764437
H_H.loc[H_H['ID'] == '2016-0174', 'pos y'] = -58.42036642
H_H.loc[H_H['ID'] == '2016-0174', 'COMUNA'] = 5
# ID 2017-0042 agregamos coordenadas
H_H.loc[H_H['ID'] == '2017-0042', 'pos x'] = -34.54805588
H_H.loc[H_H['ID'] == '2017-0042', 'pos y'] = -58.43849925
# ID 2017-0050 agregamos coordenadas
H_H.loc[H_H['ID'] == '2017-0050', 'pos x'] = -34.64934009
H_H.loc[H_H['ID'] == '2017-0050', 'pos y'] = -58.46692345
# ID 2017-0051 agregamos coordenadas
H_H.loc[H_H['ID'] == '2017-0051', 'pos x'] = -34.66907709
H_H.loc[H_H['ID'] == '2017-0051', 'pos y'] = -58.47557813
# ID 2017-0140 agregamos coordenadas
H_H.loc[H_H['ID'] == '2017-0140', 'pos x'] = -34.63755652
H_H.loc[H_H['ID'] == '2017-0140', 'pos y'] = -58.37683371
# ID 2018-0039 agregamos coordenadas
H_H.loc[H_H['ID'] == '2018-0039', 'pos x'] = -34.55658135
H_H.loc[H_H['ID'] == '2018-0039', 'pos y'] = -58.42467450
# ID 2020-0026 agregamos coordenadas
H_H.loc[H_H['ID'] == '2020-0026', 'pos x'] = -34.54358768
H_H.loc[H_H['ID'] == '2020-0026', 'pos y'] = -58.44740159
# ID 2020-0039 agregamos coordenadas
H_H.loc[H_H['ID'] == '2020-0039', 'pos x'] = -34.66250291
H_H.loc[H_H['ID'] == '2020-0039', 'pos y'] = -58.49298141
# ID 2021-0023 agregamos coordenadas
H_H.loc[H_H['ID'] == '2021-0023', 'pos x'] = -34.76208169
H_H.loc[H_H['ID'] == '2021-0023', 'pos y'] = -58.17886722

In [414]:
filas_con_valores_faltantes = H_H[H_H.isnull().any(axis=1)]
filas_con_valores_faltantes

Empty DataFrame
Columns: [ID, N_VICTIMAS, FECHA, AAAA, MM, DD, HORA, LUGAR_DEL_HECHO, TIPO_DE_CALLE, COMUNA, pos x, pos y, VICTIMA, ACUSADO]
Index: []

In [415]:
H_H

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,LUGAR_DEL_HECHO,TIPO_DE_CALLE,COMUNA,pos x,pos y,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,8,-58.47533969,-34.68757022,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,9,-58.50877521,-34.66977709,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,AV ENTRE RIOS 2034,AVENIDA,1,-58.39040293,-34.63189362,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,8,-58.46503904,-34.68092974,MOTO,
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,1,-58.38718297,-34.62246630,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,2021,12,13,17:10:00,AV. RIESTRA Y MOM,AVENIDA,7,-58.43353773,-34.64561636,MOTO,AUTO
692,2021-0094,1,2021-12-20,2021,12,20,01:10:00,AU DELLEPIANE Y LACARRA,AUTOPISTA,9,-58.46739825,-34.65117757,MOTO,AUTO
693,2021-0095,1,2021-12-30,2021,12,30,00:43:00,AV. GAONA Y TERRADA,AVENIDA,11,-58.47293407,-34.61984745,MOTO,CARGAS
694,2021-0096,1,2021-12-15,2021,12,15,10:30:00,AV. EVA PERON 4071,AVENIDA,9,-58.47066794,-34.65021673,AUTO,CARGAS
695,2021-0097,1,2021-11-18,2021,11,18,06:10:00,PADRE CARLOS MUJICA 709,CALLE,1,-58.37976155,-34.58679619,BICICLETA,AUTO

vamos a cambiar el valor GRAL PAZ por AUTOPISTA en la columna de TIPO_DE_CALLE

In [416]:
conteo = H_H['TIPO_DE_CALLE'].value_counts()['GRAL PAZ']

print(f"'GRAL PAZ' aparece {conteo} veces en la columna 'TIPO_DE_CALLE'.")

'GRAL PAZ' aparece 65 veces en la columna 'TIPO_DE_CALLE'.

In [417]:
H_H.loc[:, 'TIPO_DE_CALLE'] = H_H.loc[:, 'TIPO_DE_CALLE'].replace('GRAL PAZ', 'AUTOPISTA')

In [418]:
H_H

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,LUGAR_DEL_HECHO,TIPO_DE_CALLE,COMUNA,pos x,pos y,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,8,-58.47533969,-34.68757022,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,AV GRAL PAZ Y AV DE LOS CORRALES,AUTOPISTA,9,-58.50877521,-34.66977709,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,AV ENTRE RIOS 2034,AVENIDA,1,-58.39040293,-34.63189362,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,8,-58.46503904,-34.68092974,MOTO,
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,1,-58.38718297,-34.62246630,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,2021,12,13,17:10:00,AV. RIESTRA Y MOM,AVENIDA,7,-58.43353773,-34.64561636,MOTO,AUTO
692,2021-0094,1,2021-12-20,2021,12,20,01:10:00,AU DELLEPIANE Y LACARRA,AUTOPISTA,9,-58.46739825,-34.65117757,MOTO,AUTO
693,2021-0095,1,2021-12-30,2021,12,30,00:43:00,AV. GAONA Y TERRADA,AVENIDA,11,-58.47293407,-34.61984745,MOTO,CARGAS
694,2021-0096,1,2021-12-15,2021,12,15,10:30:00,AV. EVA PERON 4071,AVENIDA,9,-58.47066794,-34.65021673,AUTO,CARGAS
695,2021-0097,1,2021-11-18,2021,11,18,06:10:00,PADRE CARLOS MUJICA 709,CALLE,1,-58.37976155,-34.58679619,BICICLETA,AUTO

Cambio los nombres de las columnas 'pos x' y 'pos y' a 'LONGITUD' y 'LATITUD'

In [419]:
H_H = H_H.rename(columns={'pos x': 'LONGITUD', 'pos y': 'LATITUD'})

In [420]:
H_H

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,LUGAR_DEL_HECHO,TIPO_DE_CALLE,COMUNA,LONGITUD,LATITUD,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,8,-58.47533969,-34.68757022,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,AV GRAL PAZ Y AV DE LOS CORRALES,AUTOPISTA,9,-58.50877521,-34.66977709,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,AV ENTRE RIOS 2034,AVENIDA,1,-58.39040293,-34.63189362,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,8,-58.46503904,-34.68092974,MOTO,
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,1,-58.38718297,-34.62246630,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,2021,12,13,17:10:00,AV. RIESTRA Y MOM,AVENIDA,7,-58.43353773,-34.64561636,MOTO,AUTO
692,2021-0094,1,2021-12-20,2021,12,20,01:10:00,AU DELLEPIANE Y LACARRA,AUTOPISTA,9,-58.46739825,-34.65117757,MOTO,AUTO
693,2021-0095,1,2021-12-30,2021,12,30,00:43:00,AV. GAONA Y TERRADA,AVENIDA,11,-58.47293407,-34.61984745,MOTO,CARGAS
694,2021-0096,1,2021-12-15,2021,12,15,10:30:00,AV. EVA PERON 4071,AVENIDA,9,-58.47066794,-34.65021673,AUTO,CARGAS
695,2021-0097,1,2021-11-18,2021,11,18,06:10:00,PADRE CARLOS MUJICA 709,CALLE,1,-58.37976155,-34.58679619,BICICLETA,AUTO

Cambio los nombres de las columnas 'AAAA', 'MM' y 'DD' por 'AÑO', 'MES' y 'DIA'

In [421]:
H_H = H_H.rename(columns={'AAAA': 'AÑO', 'MM': 'MES', 'DD': 'DIA'})

In [422]:
H_H

,ID,N_VICTIMAS,FECHA,AÑO,MES,DIA,HORA,LUGAR_DEL_HECHO,TIPO_DE_CALLE,COMUNA,LONGITUD,LATITUD,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,8,-58.47533969,-34.68757022,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,AV GRAL PAZ Y AV DE LOS CORRALES,AUTOPISTA,9,-58.50877521,-34.66977709,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,AV ENTRE RIOS 2034,AVENIDA,1,-58.39040293,-34.63189362,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,8,-58.46503904,-34.68092974,MOTO,
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,1,-58.38718297,-34.62246630,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,2021,12,13,17:10:00,AV. RIESTRA Y MOM,AVENIDA,7,-58.43353773,-34.64561636,MOTO,AUTO
692,2021-0094,1,2021-12-20,2021,12,20,01:10:00,AU DELLEPIANE Y LACARRA,AUTOPISTA,9,-58.46739825,-34.65117757,MOTO,AUTO
693,2021-0095,1,2021-12-30,2021,12,30,00:43:00,AV. GAONA Y TERRADA,AVENIDA,11,-58.47293407,-34.61984745,MOTO,CARGAS
694,2021-0096,1,2021-12-15,2021,12,15,10:30:00,AV. EVA PERON 4071,AVENIDA,9,-58.47066794,-34.65021673,AUTO,CARGAS
695,2021-0097,1,2021-11-18,2021,11,18,06:10:00,PADRE CARLOS MUJICA 709,CALLE,1,-58.37976155,-34.58679619,BICICLETA,AUTO

In [423]:
H_V

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...
712,2021-0092,2021-12-12,2021,12,12,PEATON,PEATON,FEMENINO,50,2021-12-12 00:00:00
713,2021-0093,2021-12-13,2021,12,13,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18,2021-12-18 00:00:00
714,2021-0094,2021-12-20,2021,12,20,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43,2021-12-20 00:00:00
715,2021-0095,2021-12-30,2021,12,30,CONDUCTOR,MOTO,MASCULINO,27,2022-01-02 00:00:00
716,2021-0096,2021-12-15,2021,12,15,CONDUCTOR,AUTO,MASCULINO,60,2021-12-20 00:00:00

Eliminamos las columnas que no vamos a usar

In [424]:
H_V = H_V.drop(['FECHA', 'AAAA', 'MM', 'DD'], axis=1)

In [425]:
H_V

,ID_hecho,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00
...,...,...,...,...,...,...
712,2021-0092,PEATON,PEATON,FEMENINO,50,2021-12-12 00:00:00
713,2021-0093,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18,2021-12-18 00:00:00
714,2021-0094,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43,2021-12-20 00:00:00
715,2021-0095,CONDUCTOR,MOTO,MASCULINO,27,2022-01-02 00:00:00
716,2021-0096,CONDUCTOR,AUTO,MASCULINO,60,2021-12-20 00:00:00

Verificamos los valores SD que hay en cada columna

In [426]:
conteo = H_V.apply(lambda x: x.value_counts().get('SD', 0))

print(conteo)

ID_hecho                0
ROL                    11
VICTIMA                 9
SEXO                    6
EDAD                   53
FECHA_FALLECIMIENTO    68
dtype: int64

Cambiamos los valores SD a valores NaN para poder trabajar mejor

In [427]:
H_V = H_V.replace('SD', np.nan)

dejamos en blanco los valores NaN de las columnas ROL y VICTIMA pasamos a SIN IDENTIFICAR los NaN de la columna SEXO, cambiamos a 0 los NaN de la columna EDAD y cambiamos a NO FALLECIO los valores NaN de la columna FECHA_FALLECIMIENTO

In [428]:
H_V['ROL'] = H_V['ROL'].fillna('')
H_V['VICTIMA'] = H_V['VICTIMA'].fillna('')

In [429]:
H_V['SEXO'] = H_V['SEXO'].fillna('SIN IDENTIFICAR')

In [430]:
H_V['EDAD'] = H_V['EDAD'].fillna(0)

In [431]:
H_V['FECHA_FALLECIMIENTO'] = H_V['FECHA_FALLECIMIENTO'].fillna('NO FALLECIO')

In [432]:
H_V

,ID_hecho,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,CONDUCTOR,MOTO,MASCULINO,19.0,2016-01-01 00:00:00
1,2016-0002,CONDUCTOR,AUTO,MASCULINO,70.0,2016-01-02 00:00:00
2,2016-0003,CONDUCTOR,MOTO,MASCULINO,30.0,2016-01-03 00:00:00
3,2016-0004,CONDUCTOR,MOTO,MASCULINO,18.0,NO FALLECIO
4,2016-0005,CONDUCTOR,MOTO,MASCULINO,29.0,2016-02-01 00:00:00
...,...,...,...,...,...,...
712,2021-0092,PEATON,PEATON,FEMENINO,50.0,2021-12-12 00:00:00
713,2021-0093,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18.0,2021-12-18 00:00:00
714,2021-0094,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43.0,2021-12-20 00:00:00
715,2021-0095,CONDUCTOR,MOTO,MASCULINO,27.0,2022-01-02 00:00:00
716,2021-0096,CONDUCTOR,AUTO,MASCULINO,60.0,2021-12-20 00:00:00

Cambiamos la columna EDAD a entero

In [433]:
H_V['EDAD'] = H_V['EDAD'].astype(int)

In [434]:
H_V

,ID_hecho,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,CONDUCTOR,MOTO,MASCULINO,18,NO FALLECIO
4,2016-0005,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00
...,...,...,...,...,...,...
712,2021-0092,PEATON,PEATON,FEMENINO,50,2021-12-12 00:00:00
713,2021-0093,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18,2021-12-18 00:00:00
714,2021-0094,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43,2021-12-20 00:00:00
715,2021-0095,CONDUCTOR,MOTO,MASCULINO,27,2022-01-02 00:00:00
716,2021-0096,CONDUCTOR,AUTO,MASCULINO,60,2021-12-20 00:00:00

Cambiamos el nombre de la columna ID_hecho a ID para poder hacer la union

In [435]:
H_V = H_V.rename(columns={'ID_hecho': 'ID'})

In [436]:
H_V

,ID,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,CONDUCTOR,MOTO,MASCULINO,18,NO FALLECIO
4,2016-0005,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00
...,...,...,...,...,...,...
712,2021-0092,PEATON,PEATON,FEMENINO,50,2021-12-12 00:00:00
713,2021-0093,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18,2021-12-18 00:00:00
714,2021-0094,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43,2021-12-20 00:00:00
715,2021-0095,CONDUCTOR,MOTO,MASCULINO,27,2022-01-02 00:00:00
716,2021-0096,CONDUCTOR,AUTO,MASCULINO,60,2021-12-20 00:00:00

Eliminamos la columna VICTIMA ya que se encuentra en el otro DF

In [437]:
H_V = H_V.drop('VICTIMA', axis=1)

In [438]:
H_V

            ID                   ROL       SEXO  EDAD  FECHA_FALLECIMIENTO
0    2016-0001             CONDUCTOR  MASCULINO    19  2016-01-01 00:00:00
1    2016-0002             CONDUCTOR  MASCULINO    70  2016-01-02 00:00:00
2    2016-0003             CONDUCTOR  MASCULINO    30  2016-01-03 00:00:00
3    2016-0004             CONDUCTOR  MASCULINO    18          NO FALLECIO
4    2016-0005             CONDUCTOR  MASCULINO    29  2016-02-01 00:00:00
..         ...                   ...        ...   ...                  ...
712  2021-0092                PEATON   FEMENINO    50  2021-12-12 00:00:00
713  2021-0093  PASAJERO_ACOMPAÑANTE   FEMENINO    18  2021-12-18 00:00:00
714  2021-0094  PASAJERO_ACOMPAÑANTE   FEMENINO    43  2021-12-20 00:00:00
715  2021-0095             CONDUCTOR  MASCULINO    27  2022-01-02 00:00:00
716  2021-0096             CONDUCTOR  MASCULINO    60  2021-12-20 00:00:00

[717 rows x 5 columns]

In [473]:
H_C = H_H.merge(H_V, on='ID', how='left')

In [474]:
H_C

,ID,N_VICTIMAS,FECHA,AÑO,MES,DIA,HORA,LUGAR_DEL_HECHO,TIPO_DE_CALLE,COMUNA,LONGITUD,LATITUD,VICTIMA,ACUSADO,ROL,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,8,-58.47533969,-34.68757022,MOTO,AUTO,CONDUCTOR,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,AV GRAL PAZ Y AV DE LOS CORRALES,AUTOPISTA,9,-58.50877521,-34.66977709,AUTO,PASAJEROS,CONDUCTOR,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,AV ENTRE RIOS 2034,AVENIDA,1,-58.39040293,-34.63189362,MOTO,AUTO,CONDUCTOR,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,8,-58.46503904,-34.68092974,MOTO,,CONDUCTOR,MASCULINO,18,NO FALLECIO
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,1,-58.38718297,-34.62246630,MOTO,PASAJEROS,CONDUCTOR,MASCULINO,29,2016-02-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,2021-0093,1,2021-12-13,2021,12,13,17:10:00,AV. RIESTRA Y MOM,AVENIDA,7,-58.43353773,-34.64561636,MOTO,AUTO,PASAJERO_ACOMPAÑANTE,FEMENINO,18,2021-12-18 00:00:00
712,2021-0094,1,2021-12-20,2021,12,20,01:10:00,AU DELLEPIANE Y LACARRA,AUTOPISTA,9,-58.46739825,-34.65117757,MOTO,AUTO,PASAJERO_ACOMPAÑANTE,FEMENINO,43,2021-12-20 00:00:00
713,2021-0095,1,2021-12-30,2021,12,30,00:43:00,AV. GAONA Y TERRADA,AVENIDA,11,-58.47293407,-34.61984745,MOTO,CARGAS,CONDUCTOR,MASCULINO,27,2022-01-02 00:00:00
714,2021-0096,1,2021-12-15,2021,12,15,10:30:00,AV. EVA PERON 4071,AVENIDA,9,-58.47066794,-34.65021673,AUTO,CARGAS,CONDUCTOR,MASCULINO,60,2021-12-20 00:00:00
715,2021-0097,1,2021-11-18,2021,11,18,06:10:00,PADRE CARLOS MUJICA 709,CALLE,1,-58.37976155,-34.58679619,BICICLETA,AUTO,CICLISTA,MASCULINO,53,2021-11-19 00:00:00

Eliminamos los espacios en la columna LUGAR_DEL_HECHO y eliminamos las comillas

In [475]:
H_C['LUGAR_DEL_HECHO'] = H_C['LUGAR_DEL_HECHO'].str.strip()

In [476]:
H_C['LUGAR_DEL_HECHO'] = H_C['LUGAR_DEL_HECHO'].str.replace('"', '')

In [477]:
H_C

,ID,N_VICTIMAS,FECHA,AÑO,MES,DIA,HORA,LUGAR_DEL_HECHO,TIPO_DE_CALLE,COMUNA,LONGITUD,LATITUD,VICTIMA,ACUSADO,ROL,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,8,-58.47533969,-34.68757022,MOTO,AUTO,CONDUCTOR,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,AV GRAL PAZ Y AV DE LOS CORRALES,AUTOPISTA,9,-58.50877521,-34.66977709,AUTO,PASAJEROS,CONDUCTOR,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,AV ENTRE RIOS 2034,AVENIDA,1,-58.39040293,-34.63189362,MOTO,AUTO,CONDUCTOR,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,8,-58.46503904,-34.68092974,MOTO,,CONDUCTOR,MASCULINO,18,NO FALLECIO
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,1,-58.38718297,-34.62246630,MOTO,PASAJEROS,CONDUCTOR,MASCULINO,29,2016-02-01 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,2021-0093,1,2021-12-13,2021,12,13,17:10:00,AV. RIESTRA Y MOM,AVENIDA,7,-58.43353773,-34.64561636,MOTO,AUTO,PASAJERO_ACOMPAÑANTE,FEMENINO,18,2021-12-18 00:00:00
712,2021-0094,1,2021-12-20,2021,12,20,01:10:00,AU DELLEPIANE Y LACARRA,AUTOPISTA,9,-58.46739825,-34.65117757,MOTO,AUTO,PASAJERO_ACOMPAÑANTE,FEMENINO,43,2021-12-20 00:00:00
713,2021-0095,1,2021-12-30,2021,12,30,00:43:00,AV. GAONA Y TERRADA,AVENIDA,11,-58.47293407,-34.61984745,MOTO,CARGAS,CONDUCTOR,MASCULINO,27,2022-01-02 00:00:00
714,2021-0096,1,2021-12-15,2021,12,15,10:30:00,AV. EVA PERON 4071,AVENIDA,9,-58.47066794,-34.65021673,AUTO,CARGAS,CONDUCTOR,MASCULINO,60,2021-12-20 00:00:00
715,2021-0097,1,2021-11-18,2021,11,18,06:10:00,PADRE CARLOS MUJICA 709,CALLE,1,-58.37976155,-34.58679619,BICICLETA,AUTO,CICLISTA,MASCULINO,53,2021-11-19 00:00:00

In [478]:
H_C.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 716 entries, 0 to 715
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   716 non-null    object
 1   N_VICTIMAS           716 non-null    int64
 2   FECHA                716 non-null    datetime64[ns]
 3   AÑO                  716 non-null    int64
 4   MES                  716 non-null    int64
 5   DIA                  716 non-null    int64
 6   HORA                 716 non-null    object
 7   LUGAR_DEL_HECHO      716 non-null    object
 8   TIPO_DE_CALLE        716 non-null    object
 9   COMUNA               716 non-null    int64
 10  LONGITUD             716 non-null    object
 11  LATITUD              716 non-null    object
 12  VICTIMA              716 non-null    object
 13  ACUSADO              716 non-null    object
 14  ROL                  716 non-null    object
 15  SEXO                 716 non-null    object
 16  EDAD                 716 non-null    int32
 17  FECHA_FALLECIMIENTO  716 non-null    object
dtypes: datetime64[ns](1), int32(1), int64(5), object(11)
memory usage: 98.0+ KB

Cambiamos el formato y el tipo de columna de FECHA_FALLECIMIENTO

In [482]:
H_C['FECHA_FALLECIMIENTO'] = pd.to_datetime(H_C['FECHA_FALLECIMIENTO'], errors='coerce')
H_C['FECHA_FALLECIMIENTO'] = H_C['FECHA_FALLECIMIENTO'].dt.strftime('%Y-%m-%d')

In [483]:
H_C['FECHA_FALLECIMIENTO'] = H_C['FECHA_FALLECIMIENTO'].astype('datetime64[ns]')

In [485]:
H_C

,ID,N_VICTIMAS,FECHA,AÑO,MES,DIA,HORA,LUGAR_DEL_HECHO,TIPO_DE_CALLE,COMUNA,LONGITUD,LATITUD,VICTIMA,ACUSADO,ROL,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,8,-58.47533969,-34.68757022,MOTO,AUTO,CONDUCTOR,MASCULINO,19,2016-01-01
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,AV GRAL PAZ Y AV DE LOS CORRALES,AUTOPISTA,9,-58.50877521,-34.66977709,AUTO,PASAJEROS,CONDUCTOR,MASCULINO,70,2016-01-02
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,AV ENTRE RIOS 2034,AVENIDA,1,-58.39040293,-34.63189362,MOTO,AUTO,CONDUCTOR,MASCULINO,30,2016-01-03
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,8,-58.46503904,-34.68092974,MOTO,,CONDUCTOR,MASCULINO,18,NaT
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,1,-58.38718297,-34.62246630,MOTO,PASAJEROS,CONDUCTOR,MASCULINO,29,2016-02-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,2021-0093,1,2021-12-13,2021,12,13,17:10:00,AV. RIESTRA Y MOM,AVENIDA,7,-58.43353773,-34.64561636,MOTO,AUTO,PASAJERO_ACOMPAÑANTE,FEMENINO,18,2021-12-18
712,2021-0094,1,2021-12-20,2021,12,20,01:10:00,AU DELLEPIANE Y LACARRA,AUTOPISTA,9,-58.46739825,-34.65117757,MOTO,AUTO,PASAJERO_ACOMPAÑANTE,FEMENINO,43,2021-12-20
713,2021-0095,1,2021-12-30,2021,12,30,00:43:00,AV. GAONA Y TERRADA,AVENIDA,11,-58.47293407,-34.61984745,MOTO,CARGAS,CONDUCTOR,MASCULINO,27,2022-01-02
714,2021-0096,1,2021-12-15,2021,12,15,10:30:00,AV. EVA PERON 4071,AVENIDA,9,-58.47066794,-34.65021673,AUTO,CARGAS,CONDUCTOR,MASCULINO,60,2021-12-20
715,2021-0097,1,2021-11-18,2021,11,18,06:10:00,PADRE CARLOS MUJICA 709,CALLE,1,-58.37976155,-34.58679619,BICICLETA,AUTO,CICLISTA,MASCULINO,53,2021-11-19

In [489]:
H_C = H_C.rename(columns={'ROL': 'ROL_VICTIMA'})

Verificamos los cambios

In [490]:
H_C.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 716 entries, 0 to 715
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   716 non-null    object
 1   N_VICTIMAS           716 non-null    int64
 2   FECHA                716 non-null    datetime64[ns]
 3   AÑO                  716 non-null    int64
 4   MES                  716 non-null    int64
 5   DIA                  716 non-null    int64
 6   HORA                 716 non-null    object
 7   LUGAR_DEL_HECHO      716 non-null    object
 8   TIPO_DE_CALLE        716 non-null    object
 9   COMUNA               716 non-null    int64
 10  LONGITUD             716 non-null    object
 11  LATITUD              716 non-null    object
 12  VICTIMA              716 non-null    object
 13  ACUSADO              716 non-null    object
 14  ROL_VICTIMA          716 non-null    object
 15  SEXO                 716 non-null    object
 16  EDAD                 716 non-null    int32
 17  FECHA_FALLECIMIENTO  649 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int32(1), int64(5), object(10)
memory usage: 98.0+ KB

In [491]:
H_C.to_csv('homicidios_completo.csv', index=False)